<div class="container">
  <divclass="row">
    <div class="col-4 offset-4">
      <h2>ジャンル一覧</h2>
      <%= link_to "ジャンル作成", new_admin_genre_path %>
      <%= form_with model: @genre, url:admin_genres_path do |f| %>
      <%= f.text_field :name %>
      <%= f.submit '新規登録'%>
      <% end %>
      <p>ジャンル名</p>
          <% @genres.each do |genre| %>
          <span><%= genre.name %></span>
            <%#= link_to "編集する", edit_admin_genre_path(genre.id), class: "btn btn-success" %>
          <% end %>

    </div>
  </div>
</div>