<div>
  <%= flash[:notice] %>
</div>
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>ユーザー情報</h2>
      <%=render 'public/users/info', user: @creature.user %>
      <h2>生体飼育</h2>
      <%= render 'public/creatures/form', creature: @creature_new %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>生体飼育情報</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <!--リンクにするときはstyle:"display:block;"-->
              <%= link_to public_user_path(@creature.user.id), style:"display:block;" do %>
                <%= image_tag @creature.get_image(400, 400), class: "img-fluid" if @creature.image.present? %>

                <%= @creature.name %>

              <% end %>
            </td>
          </tr>
          <tr>
            <td>
                <%= @creature.description %>
            </td>
          </tr>
          <tr>
            <td>
              <% @creature.tags.each do |tag| %>
                <%= tag.name %>
              <% end %>
            </td>

            <td id="raty_show<%= @creature.id %>">
            </td>

            <script>
              // scriptファイルをどのidの部分に配置するかを指定
              var hoge = document.querySelector('#raty_show<%= @creature.id%>');
              var fuga = {
                // 星画像の指定などのオプションをここに記述,
                size: 36,
                starOff: '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHarf: '<%= asset_path('star-half.png') %>',
                readOnly: true,
                score: <%= @creature.rate %>
              };
              raty(hoge, fuga);
            </script>
          </tr>
          <tr>
            <% if @creature.user == current_user %>
              <td><%= link_to "編集する", edit_public_creature_path(@creature), class: "btn btn-sm btn-success" %></td>
              <td><%= link_to "削除する", public_creature_path(@creature), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-sm btn-danger" %></td>
            <% end %>
          </tr>

          <tr>
            <td><%= link_to "#{@creature.post_comments.count} コメント", public_creature_path(@creature.id) %></td>
          </tr>

        </tbody>
      </table>
      <div class="post_comments-index">
        <%= render "public/post_comments/index", creature: @creature %>
      </div>
      <%= render "public/post_comments/form", creature: @creature, post_comment: @post_comment %>
    </div>
  </div>
</div>
