<table class="table">
  <tr><%= image_tag user.get_profile_image(100,100) %></tr>
  <tr>
    <th>ニックネーム</th>
    <th><%= user.name %></th>
  </tr>
  <tr>
    <th><%= link_to "フォロー", public_user_followings_path(user) %></th>
    <th><%= user.followings.count %></th>
  </tr>
  <tr>
    <th><%= link_to "フォロワー", public_user_followers_path(user) %></th>
    <th><%= user.followers.count %></th>
  </tr>
</table>
<% if user.name != "guestuser" && current_user.name != "guestuser" %>
<div class='row'>
  <%= link_to edit_public_user_path(user.id), class: "btn btn-outline-secondary btn-block" do %>
  <i class="fas fa-user-edit"></i>
  <% end %>
</div>
<% end %>
