<!DOCTYPE html>
<html>
  <head>
    <title>Waterpet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expend-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">
            <h1>Water_Pets</h1>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse show" id="navbarNavDropdown"style>
            <ul class="navbar-nav ml-auto">
              <% if admin_signed_in? %>
                <ul class="nav justify-content-center">
                  <li class="nav-item">
                    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link text-light mr-5" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "会員一覧", admin_users_path, class: "nav-link text-light mr-5" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "投稿一覧", admin_creatures_path, class: "nav-link text-light mr-5" %>
                  </li>
              <% elsif user_signed_in? %>
                <ul class="nav justify-content-center">
                  <li class="nav-item">
                    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link text-light mr-5" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "生物一覧", public_creatures_path, class: "nav-link text-light mr-5" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ユーザー一覧", public_users_path, class:"nav-link text-light mr-5" %>
                  </li>
                <!--<%# else %>-->
                <!--  <li class="nav-item">-->
                <!--    <%#= link_to "新規登録", new_user_registration_path, class:"nav-link text-light" %>-->
                <!--  </li>-->
                <!--  <li class="nav-item">-->
                <!--    <%#= link_to "ログイン", new_user_session_path, class:"nav-link text-light" %>-->
                <!--  </li>-->
                <!--<%# end %>-->
                </ul>
              <% else %>
                <%= render 'layouts/signout_header' %>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer class="footer mt-auto py-3 bg-primary">
      <div class="container">
        <div class="row no-gutters">
          <div class="mx-auto">
            <p class="text-muted">©2023 Asami Inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
